---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Stethoscope from '../components/icons/Stethoscope.astro';
import Hospital from '../components/icons/Hospital.astro';
import MedicalCross from '../components/icons/MedicalCross.astro';
import Vaccine from '../components/icons/Vaccine.astro';
import Micropscope from '../components/icons/Micropscope.astro';
import Bath from '../components/icons/Bath.astro';
---

<Layout 
	title="Sitio web de Veterinaria Salguero"
	description="Veterinaria Salguero. Cirugia, Consultorio, Laboratorio y Estudios. Fco. Acuña de Figueroa 1599">
	<div class="bg-[url(/images/image-home.webp)] bg-cover bg-right min-h-screen">
		<Header />
		<SectionContainer>
			<div class="flex flex-col items-center sm:items-start gap-8 bg-gray-200/50 text-center sm:text-start text-pretty rounded-lg p-10 sm:p-5 md:p-1 sm:bg-transparent">
				<p class="text-xl md:text-3xl font-light"><span class="font-semibold">Bienvenidos</span> a nuestro sitio web </p>
				<h1 class="text-3xl md:text-5xl uppercase text-primary-violet font-bold"> Veterinaria Salguero </h1>
				<p class="text-md md:text-xl font-light sm:w-2/3"> Con mas de 10 años de trayectoria acompañando a tu mejor amigo en todas sus etapas. </p>
				<Button> Contactanos </Button>
			</div>
		</SectionContainer>
	</div>
	<main>
		<section class="flex flex-col justify-center items-center mt-20">
			<h1 class="text-4xl">Nuestros <span class="text-primary-violet font-bold">Servicios</span></h1>
			<div  class="flex flex-col sm:flex-row sm:flex-wrap justify-center items-center p-10 xl:pl-32 xl:pr-32">
				<Card>
					<Stethoscope />
					<p class="p-5 text-center text-[17px]">Chequeos y controles de rutina para tus mascotas</p>
				</Card>
				<Card>
					<Hospital />
					<p class="p-5 text-center text-[17px]">Cirugias programadas y de urgencia, simples y de alta complejidad</p>
				</Card>
				<Card>
					<MedicalCross />
					<p class="p-5 text-center text-[17px]">Servicios de urgencia. Contamos con las últimas tecnologías</p>
				</Card>
				<Card>
					<Vaccine />
					<p class="px-4 py-5 text-center text-[17px]">Servicio de vacunación. Vacunas de calendario y especiales</p>
				</Card>
				<Card>
					<Micropscope />
					<p class="p-5 text-center text-[17px]">Laboratorio, estudios y especialidades. Consultanos!</p>
				</Card>
				<Card>
					<Bath />
					<p class="p-5 text-center text-[17px]">Contamos con baño y peluquería todos los Martes y Sábados</p>
				</Card>
			</div>
		</section>	
	</main>
</Layout>