---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout 
	title="Sitio web de Veterinaria Salguero"
	description="Veterinaria Salguero. Cirugia, Consultorio, Laboratorio y Estudios. Fco. Acuña de Figueroa 1599">
	<div class="bg-[url(/images/image-home.webp)] bg-cover bg-right min-h-screen">
		<Header />
		<section>

		</section>
	</div>
	<main>
		<section>

		</section>	
	</main>
	
</Layout>