---
import ArrowIcon from '../components/icons/Arrow.astro';
---

<a href="/#encabezado" class="fixed bottom-5 right-10 p-2 md:p-3 drop-shadow-md bg-tertiary-lightviolet text-white rounded-full hover:bg-secondary-lightviolet">
        <ArrowIcon />
</a>