<header>
        <nav class="text-md flex flex-col sm:flex-row justify-between px-32 items-center gap-5 opacity-80 pt-10 sm:mb-10 lg:mb-0 tracking-wider " id="encabezado">
                <a href="/" class="flex justify-center font-semibold text-semibold text-md uppercase">
                        <img
                                class="w-auto h-12 md:h-14 lg:h-16" 
                                src="/images/logo-nav.png" 
                                alt="imagen de logo"
                        />
                        <div class="flex flex-col justify-center items-center text-white tracking-widest">
                                <p>Veterinaria</p>
                                <p>Salguero</p>
                        </div>   
                </a>
                <div class="font-sans flex gap-x-4 lg:gap-x-6 text-md mb-5 sm:mt-4 sm:mb-2 lg:mt-0 font-semibold text-white">
                        <a href="/#servicios" class="hover:opacity-50 hover:scale-110 lg:text-lg">Servicios</a>
                        <a href="/#nosotros" class="hover:opacity-50 hover:scale-110 lg:text-lg">Nosotros</a>
                        <a href="/#contacto" class="hover:opacity-50 hover:scale-110 lg:text-lg">Contacto</a>
                </div>
                
        </nav>
</header>