<header>
        <nav class="text-md flex flex-col sm:flex-row justify-around items-center gap-5 opacity-80 pt-5 md:pt-7 sm:mb-10 lg:mb-0">
                <a href="/" class="flex justify-center font-bold text-semibold text-md uppercase">
                        <img
                                class="w-auto h-12 md:h-14 lg:h-16" 
                                src="/images/logo-nav.png" 
                                alt="imagen de logo"
                        />
                        <div class="flex flex-col justify-center items-center">
                                <p>Veterinaria</p>
                                <p>Salguero</p>
                        </div>   
                </a>
                <div class="flex gap-x-2 lg:gap-x-5 text-md mb-5 sm:mt-4 sm:mb-2 lg:mt-0 font-semibold">
                        <a href="/#servicios" class="hover:opacity-50 hover:scale-110 bg-gray-100/80 rounded-lg px-3">Servicios</a>
                        <a href="/#nosotros" class="hover:opacity-50 hover:scale-110 bg-gray-100/80 rounded-lg px-3">Nosotros</a>
                        <a href="/#contacto" class="hover:opacity-50 hover:scale-110 bg-gray-100/80 rounded-lg px-3">Contacto</a>
                </div>
                
        </nav>
</header>